* {
    margin: 0px;
    font-family: Arial;
}

ul {
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    padding-top: 1rem;
    background-color: #1F2937;
}
.navbar{
    color: #E5E7EB;
    display: flex;
    align-items: center;
    margin-right: 10rem;
    gap: 10px;
    justify-content: space-between;
}

#home-logo {
    margin-left: 10.5rem;
    color : white;
    font-weight: bold;
}

#title{
    font-size: 40px;
    color: white;
}
.header-left {
    margin-top: 7rem;
    display: flex;
    flex: 1;
    max-width: 400px;
    flex-direction: column;
    margin-left: 10.5rem;
    max-width: 300px;
    gap: 8px;
    margin-bottom: 8px;
}
#header-desc {
    font-size: 18px;
    color: #E5E7EB;
}
.header-right{
    width: 100px;
    height: 100px;
}
#sign-up {
    gap: 8px;
    margin-left: 10.5rem;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    height: 30px;
}
img {
    max-height: 250px;
}